:root {
    --primary-color: #fefefe;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}
header nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.about h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-family: var(--heading-font);
    
}
.hero article {
    position: absolute;
    bottom: 5px;
    left: 48%;
    transform: translateX(-50%);
    background-color: var(--accent2-color);
    padding: 4px;
    width: 95%;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.hero article img {
    float: right;
    width: 125px;
}
.about h2 {
    position: relative;
    text-align: center;
    bottom: 15px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}
.history {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    text-align: center;
    justify-content: space-around;
}
.history-grid {
    display: block;
    place-items: center;
}
.adventures {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15% 
}
.adventures-grid {
    display: flex;
    place-items: center;
    gap: 4px;
}
.adventures-section img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.about footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    color: var(--accent2-color);
    margin-top: 40px;
}
footer .grid {
    gap: 8px;
}
footer .sociallinks {
    display: flex;
    gap: 10px;
}
footer .socialinks img {
    width: 30px;
    height: 30px;
}
.adventure-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.adventure-grid img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/* ================
Team Section
=================== */
.team {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    position: relative;
    text-align: center;
}
.contact h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    position: relative;
    text-align: center;
    bottom: 5px;
}
.team-cards {
    display: flex;
    text-align: center;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}
.team-cards figure {
    padding: 5px;
    border-radius: 8px;
}
.team img {
    width: 60%;
    border-radius: 5%;
    margin-bottom: 5%;
}
.team-cards figcaption {
    font-weight: 500;
}
/* ==================
Company Info
==================== */
.company-info {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    position: relative;
    text-align: center;
}
.company-info h1 {
    margin-bottom: 1px;
    position: relative;
    top: 20px;
    text-align: center;
    opacity: 0.7;
    background-color: #fefefe;
    color: black;
    font-family: var(--heading-font);
}
.company-info p {
    margin-bottom: 1px;
}

/* ==================
Company Location
===================== */
.company-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.map {
    border: 0;
}

.map-frame {
    width: 400px;
    height: 300px;
}
/* ===================
Form styling
====================== */
form label {
    display: block;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    border-radius: 10px;
    font-size: 0.9rem;
}
form textarea {
    min-height: 80px;
    resize: vertical;
}
legend {
    margin-top: 10px;
    font-weight: bold;
}
/* Radio $ Checkbox */
form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px
}
/* Button */
button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}
/* ==================
Footer
====================== */
.contact footer {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 20px 5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}
footer p {
    font-size: 0.8rem;
}
.socialmedia img {
    width: 50px;
    margin-left: 50px;
    object-fit: cover;
    margin-left: 30px;
}