* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Halvetica, san-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 80%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
    opacity: 0.8;
}
.hero article img {
    float: right;
    width: 125px;
}
.hero article {
    position: absolute;
    top: 260px;
    left: 40px;
    background-color: rgba(255,255,255,0.8);
    padding: 16px;
    width: 80%;
}
/* ===== FORCE HERO OVERLAY FIX ===== */