:root {
    --primary-color: #fefefe;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Halvetica, san-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
    text-align: left;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: #3e606d;
    text-align: center;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
    background-color:rgb(244,244,244);
}
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 780px;
    background-color: rgba(38, 70, 83, 0.7);
    color: white;
    padding: 13px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
}

footer {
    background-color: white;
    text-align: left;
    padding: 16px 0;
    color: var(--accent1-color);
}

.socialmedia {
    margin-top: 12px;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    margin: 0 6px;
    align-items: end;
}

footer p {
    margin: 0;
}